html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.frontpage-button {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem !important;
  background-color: #007bff;
}

.button-delete {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem !important;
  background-color: #DC3444;
}

.button-edit {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem !important;
  background-color: #FFCA2B;
  color: white;
}

.button-getspecificstudent {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem !important;
  background-color: #2FD2F2;
  color: white;
}

.frontpage-button a, .button-delete a, .button-edit a {
  color: #ffffff; 
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}