html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.frontpage-button {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem !important;
  /* Add a default color, can be overridden inline */
  background-color: #007bff;
}

/* unvisited link */
a:link, a:visited, a:hover, a:active {
  color: white !important;
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}