@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Universitetet for Digitale Lærdomme - Administrationsplatform</h1>
    <p>The First <b>very early</b> prototype of the UBL platform.</p>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary frontpage-button">UBL.Students</button>
        <button type="button" class="btn btn-primary frontpage-button"><a href="/staff/teacher">Teachers</a></button>
        <button type="button" class="btn btn-primary frontpage-button">Courses</button>
    </div>
</div>