@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Universitetet for Digitale Lærdomme - Administrationsplatform</h1>
    <p>The First <b>very early</b> prototype of the UBL platform.</p>
</div>